.card-generos{
    background-image: url(https://media.istockphoto.com/photos/red-dark-abstract-background-blurred-empty-rays-light-gradient-studio-picture-id1213881115?b=1&k=20&m=1213881115&s=170667a&w=0&h=R8PjZ67IpjbS2WDSxonGizlaZOro15XeelV8icjHsqE=);
    width: 300px;
    height: 200px;
    text-align: center;
    padding-top: 80px;
    color: white;
}

