.ball {
  position: relative;
  height: 15px;
  width: 15px;
  background-color: rgb(255, 146, 44);
  border-radius: 50%;
  animation: bounce 0.5s ease-in-out infinite both;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, 50px) scale(1, 0.77);
  }
}
