.slide {
  margin-top: 0px;
}

.slide img {
  height: 65vh;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}