* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

body {
  background-color: black;
  user-select:none ;
}

.carousel-item{
  height: 600px;
  max-height: 600px;
}

.card{
  height: 550px;
  max-height: 550px;
}

.img-fluid{
  height: 550px;
}



/* @media only screen and (max-width: 1250px){} */