.footer{
    background: linear-gradient( rgb(51, 49, 49), rgb(255, 255, 255));
    padding: 1em, 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

i{
    padding: 4px 4px;
}
