body{
    background-color: black;
    overflow-x: hidden;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 900px;
    } 
}

@media (min-width: 768px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1000px;
    }
}
@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1200px;
    }
}
@media (min-width: 1200px){
    .container, .container-md, .container-sm {
        max-width: 1800px;
    }
}
    
@media (min-width: 1400px){
    .container, .container-sm {
        max-width: 1800px;
    }
}

.container.home{
    padding-right: 0%;
    margin-left: 1%;
}
