.login1{
    background-image: url("https://cdn.pixabay.com/photo/2016/09/14/08/18/film-1668918_960_720.jpg");
    background-repeat: repeat;
    background-size: contain;  
}

.card-login{
    background-color: rgba(85, 77, 77, 0.3);
    backdrop-filter: blur(12px);
}

.registre{
    background-image: url("https://cdn.pixabay.com/photo/2016/09/14/08/18/film-1668918_960_720.jpg");
    background-repeat: repeat;
    background-size: contain;
}

.card-registre{
    background-color: rgba(85, 77, 77, 0.3);
    backdrop-filter: blur(12px);
}