* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1878b8;
}

.container {
  position: relative;
}

.container .slider {
  display: flex;
  background: #011b27;
  padding: 2px;
  width: 600px;
  height: 150px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.container .slider img {
  margin: 3px;
}

.container .control {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #02293b;
  cursor: pointer;
  object-fit: contain;
  padding: 10px;
}

.container .prev {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container .next {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
