
.swiper-button-next{
  margin-left: 100px;
}

.swiper-button-prev{
  margin-right: 100px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  color: white;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  color: white;
}